version: "3.4"
networks:
  proxynetwork:
    external: true
  net:
    driver: overlay
    attachable: true
services:
  exec:
    image: koromerzhin/nodejs:1.1.3-quasar
    volumes:
      - ${PWD}/apps:/app
    command: sh -c "npm install"
    deploy:
      restart_policy:
        condition: none
      labels:
        - "traefik.enable=false"
  www:
    image: koromerzhin/nodejs:1.1.3-quasar
    volumes:
      - ${PWD}/apps:/app
    networks:
      - proxynetwork
      - net
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.quasar.rule=Host(`quasar.traefik.me`)"
        - "traefik.http.routers.quasar-tls.tls.domains[0].main=quasar.traefik.me"
        - "traefik.http.routers.quasar-tls.tls.domains[0].sans=quasar-*.traefik.me"
        - "traefik.http.services.quasar.loadbalancer.server.port=80"
